.charCard {
    width: 300px;
    height: 600px;
    background-color: #2C2F33;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    overflow: visible; 
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; 
    overflow: visible; 
    border-bottom: 1px solid #444; 
    background-image: url('https://web.dragonball-api.com/images-compress/89980.webp');
    background-position: center center;
    background-size: cover;
    position: relative; 
}

.characterImage {
    width: 100%;
    max-width: 180px;
    object-fit: contain;
    transition: transform 0.3s ease;
    text-decoration: none;
    position: absolute;
    top: 10px; 
}
 

  .imageContainer:hover .characterImage {
    transform: scale(1.2);
    text-decoration: none;
  }
  
  .contentContainer {
    padding: 12px;
    font-size: 10px;
    text-decoration: none;
   
  }
  
  .characterName {
  
    font-weight: bold;
    color: white;
    margin: 8px 0;
    text-decoration: none; 
    
  }
  
  .characterSpecies {
    color: #FFD700;
    font-weight: bold;
    margin-bottom: 12px;
    text-decoration: none;
    
  }
  
  .characterStats {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-decoration: none;
  }
  
  .characterStats div {
    display: flex;
    justify-content: space-between;
  }
  
  .statLabel {
    color: #AAA;
   font-size: 20px;
   text-decoration: none;
  }
  
  .statValue {
    color: #FFD700;

    font-weight: bold;
    text-decoration: none;
  }
 
  img{
    height: 100%;
  }

